.custom-multiselect {

    &__selected {
        margin: 0;
        padding: 0;
    } // &__selected

    &__tag {
        position: relative;
        display: inline-block;

        min-width: 100px;
        margin-right: $sm-spacing;
        padding: 5px $md-spacing 5px $sm-spacing;

        background-color: $primary;
        border: 1px solid $border-color;
        border-radius: $radius-sm;
        
        color: $white;
        list-style: none;

        &__close {
            @include font-size(12px);

            position: absolute;
            top:   7px;
            right: 5px;

            width:  15px;
            height: 15px;
            
            text-align: center;
            cursor: pointer;
        } // &__close
    } // &__tag
} // .custom-multiselect