/**
 * Layout Configuration
 * 
 * Here you can find all the layouts default configurations.
 */

html {
    font-size: 14px;
} // html

body {
    color: $gray-700;
} // body

.content {
    padding: $lg-spacing 0;
} // .content